@page
@{
    ViewData["Title"] = "Sensor";
}

<div class="text-center">
    <h1>Sensor Values</h1>
    <ul id="values" />
</div>

<script src="~/lib/microsoft-signalr/signalr.js"></script>
<script type="text/javascript">
    var cn = new signalR.HubConnectionBuilder()
        .withUrl("/streamHub")
        .build();

    cn.stream("Values").subscribe({
        next: (value) => {
            document.getElementById('vs')
                .prepend('<li>' + value.Time + ': ' + value.Value + '</li>');
        },
        complete: () =>{},
        error: () => { }
    });
    cn.start();

</script>