@page
@{
    ViewData["Title"] = "Sensor";
}

<h1>Sensor Values</h1>
<ul id="values" />

<script src="~/lib/microsoft-signalr/signalr.js"></script>
<script type="text/javascript">
    var connection = new signalR.HubConnectionBuilder()
        .withUrl("/SensorHub")
        .build();

    const valuesElement = document.getElementById('values');
    connection
        .start()
        .then(() => {
            connection.stream("Values").subscribe({
                next: (value) => {
                    var li = document.createElement("li");
                    li.textContent = `Type: ${value.sensorType}    Value: ${value.sensorValue}   at  ${value.timeStamp}`;
                    valuesElement.prepend(li);
                },
                complete: () => { },
                error: () => { }
            });
        });
</script>