@{
    ViewBag.Title = "Home Page";
}

<style>
    #shape {
        height: 100px;
        width: 100px;
        background-color: blue;
        cursor: move;
    }
</style>

<div id="shape">
    
Hi Codestock</div>

@section Scripts {
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.4.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.1.0.min.js"></script>
    <script src="/signalr/hubs"></script>

    <script type="text/javascript">
        $(function () {
            var shape = $("#shape"),
                hub = $.connection.myDrag;

            hub.client.onDrag = function (val) {
                shape.css({ top: val.Y, left: val.X });
            };

            hub.connection.start()
                .done(function () {
                    shape.draggable({
                        drag: function () {
                            hub.server.itemDragged(this.offsetLeft, this.offsetTop);
                        }
                    });
                });
        });
    </script>
}
