@{
    ViewBag.Title = "Home Page";
}

<style>
    #shape {
        height: 100px;
        width: 100px;
        background-color: tomato;
        cursor: move;
    }
</style>

<div id="shape">

</div>

@section Scripts {
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="~/lib/microsoft-signalr/signalr.js"></script>
    <script type="text/javascript">
        $(function () {
            var shape = $("#shape"),
                hub = new signalR.HubConnectionBuilder()
                    .withUrl("/mydrag")
                    .build();

            hub.on("onDrag", function (val) {
                shape.css({ top: val.y, left: val.x });
            });

            hub.start()
                .then(function () {
                    shape.draggable({
                        drag: function () {
                            hub.invoke("ItemDragged", this.offsetLeft, this.offsetTop);
                        }
                    });
                });
        });
    </script>
}
