<h1>Edit User</h1>

<div class="container-fluid">
  <div>
    <form [formGroup]="userForm" *ngIf="user$ | async as user; else loading">
      Status - {{user.statusDescription}}<br />

      <!--<input type="text" [(ngModel)]="user.firstName" name="firstName" placeholder="First Name" /><br />
      <input type="text" [(ngModel)]="user.lastName" name="lastName" placeholder="Last Name" /><br />
      <input type="password" [(ngModel)]="user.password" name="password" placeholder="Password" /><br />-->


      <input type="text" formControlName="firstName" name="firstName" placeholder="First Name" /><br />
      <input type="text" formControlName="lastName" name="lastName" placeholder="Last Name" /><br />
      <input type="password" formControlName="password" name="password" placeholder="Password" /><br />

      <div class="btn-group">
        <button type="button" [disabled]="!(security.hasPermission$('CanDeleteUser') | async)">Delete</button>
        <button type="button" [disabled]="!(security.hasPermission$('CanEditUser') | async)">Save</button>
        <button type="button">Cancel</button>
      </div>
    </form>
  </div>
  <ng-template #loading>Loading ...</ng-template>
  <ng-template #notAllowed>Permission Denied ...</ng-template>
</div>
