<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="2.1.0" targetFramework="net45" />
  <package id="jQuery.UI.Combined" version="1.10.4" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR" version="2.0.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.0.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.JS" version="2.0.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb" version="2.0.2" targetFramework="net45" />
  <package id="Microsoft.Owin" version="2.1.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="2.1.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Security" version="2.1.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="RxJS-Aggregates" version="2.2.17" targetFramework="net45" />
  <package id="RxJS-All" version="2.2.17" targetFramework="net45" />
  <package id="RxJS-Binding" version="2.2.17" targetFramework="net45" />
  <package id="RxJS-Coincidence" version="2.2.17" targetFramework="net45" />
  <package id="RxJS-Experimental" version="2.2.17" targetFramework="net45" />
  <package id="RxJS-JoinPatterns" version="2.2.17" targetFramework="net45" />
  <package id="RxJS-Main" version="2.2.17" targetFramework="net45" />
  <package id="RxJS-Testing" version="2.2.17" targetFramework="net45" />
  <package id="RxJS-Time" version="2.2.17" targetFramework="net45" />
  <package id="RxJS-VirtualTime" version="2.2.17" targetFramework="net45" />
</packages>