<img style="float:right" src="AzureLinkQrCode.png" />

<div class="row">
  <div class="form-group col-sm-6">
    <h2>I think SignalR is <strong>good</strong> for:</h2>
    <input [(ngModel)]="goodMessage" type="text" class="form-control" id="message" placeholder="your message..." name="message">
    <button type="button" (click)="sendGood()">Send</button>
    <ul>
      <li *ngFor="let message of goodMessages; let i = index">{{i + 1}}: {{message}}</li>
    </ul>


  </div>
  <div class="form-group col-sm-6">
    <h2>I think SignalR is <strong>not good</strong> for:</h2>
    <input [(ngModel)]="badMessage" type="text" class="form-control" id="message" placeholder="your message..." name="message">
    <button type="button" (click)="sendBad()">Send</button>
    <ul>
      <li *ngFor="let message of badMessages; let i = index">{{i + 1}}: {{message}}</li>
    </ul>
  </div>
</div>
